---
import Layout from '@/layouts/Layout.astro'
import Chat from '@/components/Chat'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
---

<Layout title="Power AI">
  <main class="flex flex-col mx-auto w-[30ch] sm:w-[50ch] md:w-[65ch] lg:w-[80ch] h-[90vh]">
    <Header />
    <section class="flex-1 flex flex-col">
      <Chat client:load />
    </section>
    <Footer />
  </main>
</Layout>
