---
import Layout from '../layouts/Layout.astro'
const value = '海边吹过一阵风'
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="mt-24 ml-8">
      <h1>Power AI</h1>
      <input value={value} type="text" />
      <button>go</button>
      <p>This is answer of AI :</p>
      <p class="max-[100vw] flex-wrap" id="result">
				...
			</p>
      <img id="img" src="" alt="" />
    </div>
  </main>
</Layout>

<script>
  const button = document.querySelector('button')!
  const input = document.querySelector('input')!
  const result = document.querySelector('#result')!
  const img = document.querySelector('#img')!
  const decoder = new TextDecoder()

  let store = ''
	// const ress = await fetch('/api/genimg?text=smart boy')
  //   const r = await ress.json()
  //   img.setAttribute('src', r.data[0].url)
  button.addEventListener('click', async () => {
    const value = input.value
    store += value
    console.log('click')
    const res = await fetch('/api/gentext', {
      method: 'POST',
      body: JSON.stringify({ text: store }),
      headers: {
        'Content-Type': 'application/json',
      },
    })
    let done = false
    const reader = res.body!.getReader()
    while (!done) {
      const { value, done: doneReading } = await reader.read()
      done = doneReading
      const chunkValue = decoder.decode(value)
			result.innerHTML += chunkValue
    }
  })
</script>
