---
---

<header class="mt-12">
  <h1 class="text-gradient text-4xl">Smart AI</h1>
</header>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
